.header{
    width: 100%;
    background: black;
}
.nav-link {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}
.nav-link:hover{
    color: red !important;
}

.comics_title{
    padding-top: 30px;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.movies_go{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
}
.movies_img{
    padding-top: 48px;
    width: 100%;
}

.movies_title{
    font-size: 14px;
    color: white;
    padding-top: 10px;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 500;
    padding-bottom: 15px;
}
.movies_title:hover{
    font-size: 12px;
    color: red;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none !important;
    list-style: none !important;
}



/****************************************************************************************************/

/****************************************MEDIA*****************************************************/

@media(max-width: 992px) {
    .menu_dark {
        background-color: #202020 !important;
        justify-content: center;
    }
    .menu_dark {
        background-color: #202020 !important;
        justify-content: center;
    }
    .movies_img {
        padding-top: 30px;
        width: 100%;
    }
    .movies_title {
        font-size: 11px;
        color: white;
        padding-top: 10px;
        text-transform: uppercase;
        transition: 0.5s;
        font-weight: bold;
    }
    .comics_title {
        padding-top: 17px;
        font-size: 1.5em;
        color: #fff;
        font-weight: 500;
    }
}

@media(max-width: 700px) {
    .comics_title {
        padding-top: 31px;
        font-size: 1.5em;
        color: #fff;
        font-weight: 500;
    }
    .movies_title {
        font-size: 18px;
        color: white;
        padding-top: 19px;
        text-transform: uppercase;
        transition: 0.5s;
        font-weight: bold;
    }
    .comics_title {
        padding-top: 12px;
        font-size: 1.5em;
        color: #fff;
        font-weight: 500;
    }
    .carusel_item-mew{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav_bar{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(max-width: 300px) {
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.0em;
        height: 1.0em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
    }
    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.10rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    .comics_title {
        padding-top: 16px;
        font-size: 17px;
        color: #fff;
        font-weight: 500;
    }
    .movies_title {
        font-size: 14px;
        color: white;
        padding-top: 10px;
        text-transform: uppercase;
        transition: 0.5s;
        font-weight: bold;
    }
    .nav-link {
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        transition: 0.5s;
        font-size: 12px;
    }
}