* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/******** MURAKAB KODLAR *********/

.header_start-navs {
    background: rgb(0, 0, 0);
    width: 100%;
}

.nav_menu-1 {
    width: 100%;
    height: 55px;
    background: #202020;
}

.nav_menu-1-img {
    height: 50px;
}

.menu_dark {
    background-color: #202020 !important;
    justify-content: center !important;
}

.nav-link {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

.nav-link:hover {
    color: red !important;
    text-align: center !important;
}

.jonli_efir-joi {
    width: 100%;
    height: 40px;
    background: #151515;
}

.jonli_title {
    padding-top: 7px;
    text-align: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.jonli_text {
    font-weight: 700;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
}

.carusel_navs {
    width: 100%;
}

.d-block {
    width: 100%;
    height: 600px;
    clip-path: polygon(0 0, 100%, 100%, 95%, 100%) !important;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 97%, 100% 0);

}

.navbar-2 {
    display: none;
}


.d-md-block {
    margin-right: 488px;
    margin-bottom: 185px;
}

.h5 {
    font-size: 40px !important;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.h5_title {
    font-size: 12px !important;
    font-weight: 700;
    text-transform: uppercase;
}

.wanda_VISION {
    width: 233px;
    height: 253px;
}

.husd {
    margin-right: 20px;
}

.wanda_link {
    color: white;
    font-size: 14px;
    font-weight: 700;
    background: red;
    padding: 10px 26px 10px 26px;
    border-radius: 12px;
    text-transform: uppercase;
    transition: 0.5s;
}

.wanda_link:hover {
    text-decoration: none;
    color: white;
    background: rgb(116, 29, 29);
}

.asenble {
    padding-top: 10px !important;
}

.h56 {
    font-size: 40px !important;
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
}

.h5_title- {
    font-size: 12px !important;
    font-weight: 700;
    text-transform: uppercase;
    color: blue;
}

.humans{
    padding-left: 10px;
    
}
/************************************************************************************/

.podcasts{
    width: 100%;
}

.all_poster {
    position: relative;
    width: 100%;

    background: black;
    display: flex;
}

.poster_img {
    width: 526px;
    height: 240px;
    margin-left: 100px;
    margin-bottom: 0px;
    display: none;
}

.poster_text {
    color: white;
    font-size: 27px;
    font-weight: 400;
    margin-left: 48px;
    padding-bottom: 27px;
}

.poster_1 {
    width: 50%;

}

.poster_2 {
    width: 50%;
    height: 500px;
    background: url(../Img/wanda\ vision\ big\ poster.jpg)no-repeat center center / cover;
}

.tutu {
    display: none;
}

.poster_link {
    padding-top: 8px;
    color: white;
    border: 1px solid white;
    padding: 10px 12px 10px 12px;
    border-radius: 11px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s;
}

.poster_link:hover {
    color: red !important;
    text-decoration: none !important;
}

.poster-li-1 {
    margin-right: 10px;
}

.bigrtain{
    width: 100%;
    flex-wrap: wrap;
}
.img_podcats{
    width: 100%;
}
/*********************************************************************************/
.movies_posters-gos {
    width: 100%;
    background: rgb(0, 0, 0);
}

.pr_me-img {
    width: 100%;
    height: 221px;
    margin-top: 20px;
}

.pr_me-title {
    text-align: center;
    padding: 9px 9px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
}

.all_dezo-brand {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 4px;
}

p {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.new_title {
    margin-top: 48px;
    color: #e9e9e9;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 48px;
}


/**************************************************************************************/

.footer{
    width: 100%;
    background: #151515;
}

.footer-po{
    padding-top: 48px;
    display: flex;
}

.footer_link{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
.footer_link-2{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: rgb(161, 161, 161);
}
.pogon_1{
    width: 100%;
}
/************************************media start**************************************/

/*********************MEDIA 500PX*********************/

@media(max-width:500px) {
    .poster_text {
        color: white;
        font-size: 19px;
        font-weight: 400;
        padding-top: 53px;
        margin-left: 23px;
        padding-bottom: 24px;
    }
    .poster_link {
        padding-top: 8px;
        color: white;
        border: 1px solid white;
        padding: 8px 9px 8px 9px;
        border-radius: 10px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 200;
        transition: 0.5s;
    }
    .poster_2 {
        width: 50%;
        height: 280px;
        background: url(../Img/wanda\ vision\ big\ poster.jpg)no-repeat center center / cover;
    }
    .movies_posters-gos {
        width: 100%;
        background: rgb(0, 0, 0);
        padding: 0px 0px 0px 38px;
    }
    .pr_me-img {
        width: 100%;
        height: 153px;
        margin-top: 20px;
    }
    .all_dezo-brand {
        margin-top: 3px;
        font-size: 7px;
        color: #999;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 7px;
    }
    .pr_me-title {
        text-align: center;
        padding: 5px 9px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 10px;
    }
    .new_title {
        margin-top: -13px;
        color: #e9e9e9;
        font-size: 22px;
        margin-left: 23px;
        font-weight: bold;
        padding-bottom: 2px;
    }
}


/*********media 350px ********/



@media(max-width: 350px) {
    .nav_menu-1-img {
        height: 37px;
        padding-top: 7px;
    }

    .navbar-toggler {
        padding: 0.1rem 0.7rem;
        font-size: 1.00rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .jonli_efir-joi {
        width: 100%;
        height: 60px;
        background: #151515;
    }

    .jonli_title {
        padding-top: 6px;
        text-align: center;
        align-items: center;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }

    .d-block {
        width: 100%;
        height: 439px;
        clip-path: polygon(0 0, 100%, 100%, 95%, 100%) !important;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 97%, 100% 0);
    }
    
    /***********media partiya 2**************************/
    
    .poster_text {
        color: white;
        font-size: 10px;
        font-weight: 400;
        padding-top: 49px;
        margin-left: 25px;
        padding-bottom: 10px;
    }
    .poster_2 {
        width: 50%;
        height: 178px;
        background: url(../Img/wanda\ vision\ big\ poster.jpg)no-repeat center center / cover;
    }
    .poster_link {
        padding-top: 16px;
        color: white;
        margin-left: 5px;
        border: 1px solid white;
        padding: 2px 4px 2px 4px;
        border-radius: 7px;
        font-size: 9px;
        text-transform: uppercase;
        font-weight: 700;
        transition: 0.5s;
    }
    .poster-li-1 {
        margin-right: 5px;
    }
    .pr_me-img {
        width: 100%;
        height: 142px;
        margin-top: 20px;
    }
    .all_dezo-brand {
        margin-top: 9px;
        font-size: 8px;
        color: #999;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 4px;
    }
    .pr_me-title {
        text-align: center;
        padding: 0px 0px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 8px;
    }
    .new_title {
        margin-top: 48px;
        color: #e9e9e9;
        font-size: 15px;
        padding-left: 10px;
        font-weight: bold;
    }
    .poster_img {
        width: 526px;
        height: 240px;
        margin-left: 100px;
        margin-bottom: 0px;
        display: none;
    }
    
    .all_poster {
        position: relative;
        width: 100%;
        background: black;
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .poster_link {
        padding-top: 0px;
        color: white;
        margin-left: 5px;
        border: 1px solid white;
        padding: 1px 3px 1px 3px;
        border-radius: 5px;
        font-size: 7px;
        text-transform: uppercase;
        font-weight: 700;
        transition: 0.5s;
    }
    
}