*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
/******** MURAKAB KODLAR *********/

.nav_menu-1{
    width: 100%;
    height: 55px;
    background: #202020;
}
.nav_menu-1-img{
    height: 50px;
}

.menu_dark {
    background-color: #202020 !important;
    justify-content: center !important;
}

.nav-link{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

.nav-link:hover{
    color: red !important;
    text-align: center !important;
}

.jonli_efir-joi{
    width: 100%;
    height: 40px;
    background: #151515;
}

.jonli_title{
    padding-top: 7px;
    text-align: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.jonli_text{
    font-weight: 700;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
}

.carusel_navs{
    width: 100%;
}

.d-block {
    width: 100%;
    height: 600px;
    clip-path : polygon(0 0, 100%, 100%, 95%, 100%) !important;
    -webkit-clip-path: polygon(0 0,0 100%,100% 97%,100% 0);
    
}
.navbar-2{
    display: none;
}


.d-md-block {
    margin-right: 488px;
    margin-bottom: 185px;
}
.h5{
    font-size: 40px !important;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.h5_title{
    font-size: 12px !important;
    font-weight: 700;
    text-transform: uppercase;
}
.wanda_VISION {
    width: 233px;
    height: 253px;
}
.husd{
    margin-right: 20px;
}

.wanda_link{
    color: white;
    font-size: 14px;
    font-weight: 700;
    background: red;
    padding: 10px 26px 10px 26px ;
    border-radius: 12px;
    text-transform: uppercase;
    transition: 0.5s;
}
.wanda_link:hover{
   text-decoration: none;
   color: white;
   background: rgb(116, 29, 29);
}
.asenble{
    padding-top: 10px !important;
}
.h56{
    font-size: 40px !important;
    color: blue;
    text-transform: uppercase;
    font-weight: 700;
}
.h5_title-{
    font-size: 12px !important;
    font-weight: 700;
    text-transform: uppercase;
    color: blue;
}

/************************************media start**************************************/

@media(max-width: 350px) {
    .nav_menu-1-img {
        height: 37px;
        padding-top: 7px;
    }
    .navbar-toggler {
        padding: 0.1rem 0.7rem;
        font-size: 1.00rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }
    .jonli_efir-joi {
        width: 100%;
        height: 60px;
        background: #151515;
    }
    .jonli_title {
        padding-top: 6px;
        text-align: center;
        align-items: center;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
    }
    .d-block {
        width: 100%;
        height: 439px;
        clip-path: polygon(0 0, 100%, 100%, 95%, 100%) !important;
        -webkit-clip-path: polygon(0 0,0 100%,100% 97%,100% 0);
    }
}

